<div class="screen"></div>
<div class="container">
  @if (dialogService.type() == "new-homework") {
    <div class="new-homework-container">
      <h1 class="header">{{ dialogService.header() }}</h1>
      <div class="new-content">
        <span style="margin-top: 15px">Beschreibung</span>
        <textarea [(ngModel)]="newHomeworkData().name" spellcheck="false"></textarea>
        <span>Fach</span>
        <select [(ngModel)]="newHomeworkData().fk_subject" style="font-size: 20px">
          @for (subject of settings.subjectData(); track $index) {
          <option [value]="subject.id">{{ subject.name }}</option>
          }
        </select>
        <span>Datum</span>
        <app-datepicker [(value)]="newHomeworkData().due_date"></app-datepicker>
      </div>
      <div class="options-container">
        <button [disabled]="newHomeworkData().name == '' || newHomeworkData().due_date == null || newHomeworkData().name.length > maxAmountOfCharacters()" (click)="onAddHomework()">Hinzufügen</button>
        <button (click)="dialogService.close()">Abbrechen</button>
      </div>
    </div>
  }@else if (dialogService.type() == "delete-homework") {
    <div>
      <h1 class="header">{{ dialogService.header() }}</h1>
      <div class="content">
        <span>Bist du sicher das du die  Hausaufgabe mit dem Titel <br> "{{ dialogService.homeworkDeleteData().name }}" löschen willst?</span>
      </div>
      <div class="options-container">
        <button (click)="onDeleteHomework()" class="delete-homework-button">Löschen</button>
        <button (click)="dialogService.close()">Abbrechen</button>
      </div>
    </div>
 
  }@else if (dialogService.type() == "new-exam") {
    <div>
      <h1 class="header">{{ dialogService.header() }}</h1>
      <div class="new-content">
        <span>Beschreibung</span>
        <textarea [(ngModel)]="newExamData().description" spellcheck="false"></textarea>
        <span>Fach</span>
        <select [(ngModel)]="newExamData().fk_subject" style="font-size: 20px">
        @for (subject of settings.subjectData(); track $index) {
          <option [value]="subject.id">{{ subject.name }}</option>
        }
        </select>
        <span>Datum 
        </span>
        <app-datepicker [(value)]="newExamData().date"></app-datepicker>
      </div>
      <div class="options-container">
        <button (click)="onAddExam()"
        [disabled]="newExamData().description == '' || newExamData().date == null || newExamData().description.length > maxAmountOfCharacters()">Hinzufügen

        </button>
        <button (click)="dialogService.close()">Abbrechen</button>
      </div>
    </div>
  }@else if (dialogService.type() == "new-grade") {
    <div>
      <h1 class="header">{{ dialogService.header() }}</h1>
      <div class="new-content">
        <span>Note</span>
        <div class="grade-container">
          @for (g of grades(); track $index) {
            <div class="grade-item">
              @if (newGradeData().grade == 0) {
                <button 
                (click)="onSelectGrade(g)"
                [class]="settings.getGradeColor(g)"
                >{{ g }}</button>
              }@else if (newGradeData().grade == g) {
                <button 
                (click)="onSelectGrade(g)"
                [class]="settings.getGradeColor(g)"
                [class.gray]="g != newGradeData().grade"
                >{{ g }}</button>
              }@else if (newGradeData().grade != g) {
                <button 
                (click)="onSelectGrade(g)"
                class="gray">{{ g }}</button>
              }
            </div>
          }
        </div>
        <span>Fach</span>
        <select [(ngModel)]="newGradeData().fk_subject" style="font-size: 20px">
        @for (subject of settings.subjectData(); track $index) {
          <option [value]="subject.id">{{ subject.name }}</option>
        }
        </select>
      </div>
      <div class="options-container">
        <button (click)="onAddGrade()"
        [disabled]="newGradeData().grade == 0 || newGradeData().fk_subject == 0">Hinzufügen

        </button>
        <button (click)="dialogService.close()">Abbrechen </button>
      </div>
    </div>
    
  }
</div>
