.container {
  position: absolute;
  top: 60px;
  left: 210px;
  right: 10px;
  margin: 10px;
  width: auto;
  user-select: none;
}

.slim-rect img {
  display: inline-block;
  width: 4px;
  height: 70px;
  border-radius: 2px;
  background: #fff;
  margin-right: 10px;
}


.slim-rect img.green {
  filter: brightness(0) saturate(100%) invert(41%) sepia(50.1%) saturate(318.8%) hue-rotate(74.7deg) brightness(129.5%) contrast(144.6%);
}

.slim-rect img.blue {
  filter: brightness(0) saturate(100%) invert(52.5%) sepia(50.9%) saturate(1143.8%) hue-rotate(172deg) brightness(84.8%) contrast(94.5%);
}

.slim-rect img.yellow {
  filter: brightness(0) saturate(100%) invert(44.2%) sepia(51.2%) saturate(553%) hue-rotate(14.5deg) brightness(166.7%) contrast(99%);
}

.slim-rect img.gray {
  filter: brightness(0) invert(60.4%);
}

.slim-rect img.red {
  filter: brightness(0) saturate(100%) invert(29.4%) sepia(21.7%) saturate(1353.8%) hue-rotate(311.1deg) brightness(149.8%) contrast(118.3%);
}
.container-options {
  display: flex;
  justify-content: right;
}
.container-options button{
  padding: 10px;
  margin-bottom: 10px;
}

.exams-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.exam-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  width: auto;
  min-height: 100px;
  height: auto;
  background-color: var(--bg-card);
  padding: 10px;
  border-radius: 10px;
}

.item-left {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 250px;
}



.completed {
  text-decoration: line-through;
  color: var(--text-muted)
}

.exam-item .item-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  margin-right: 10px;
  gap: 10px;
}

.finished {
  background-color: green;
  padding: 6px;
  border-radius: 10px;
}

.today {
  background-color: red;
  padding: 6px;
  border-radius: 10px;
}

.tomorrow {
  background-color: var(--yellow);
  padding: 6px;
  border-radius: 10px;

}

.days {
  background-color: var(--primary);
  padding: 6px;
  border-radius: 10px;
}
