<div class="container">
  <div
    class="average-container">
    <button
    [class]="'circle-' + settings.getGradeColor(settings.averageGrade())"
    >{{ settings.averageGrade() }} </button>
  </div>
  <div class="container-options">
    <button class="reset-grade" (click)="onRemoveGrades()" [disabled]="settings.gradesData().length == 0">Alle Noten zurücksetzen</button>
    <button class="new-grade" (click)="onNewGrade()">Neue Note Eintragen</button>
  </div>
  <div class="grades-container">
    @for (s of settings.subjectData(); track $index) {
      <div class="grade-item">
        <img class="item-icon"
        [class]="s.color"
        src="dot.svg" >
        <span style="font-size: 18px">{{ s.name }}</span>
        <span class="grade">
        @for (g of settings.gradesData(); track $index) {
          @if (s.id == g.fk_subject) {
            <button (click)="onEditGrade(g)" [class]="'circle-' + settings.getGradeColor(g.grade)">{{ g.grade }}</button>
          }
        }
        </span>
      </div>
    }
  </div>
</div>
