.container {
  position: absolute;
  top: 60px;
  left: 210px;
  right: 10px;
  width: auto;
}

.homework-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.white-img{
  filter: brightness(0) invert(1);
}
.blue {
  filter: brightness(0) saturate(100%) invert(52.5%) sepia(50.9%) saturate(1143.8%) hue-rotate(172.0deg) brightness(84.8%) contrast(94.5%);
}

.green {
  filter: brightness(0) saturate(100%) invert(41.0%) sepia(50.1%) saturate(318.8%) hue-rotate(74.7deg) brightness(129.5%) contrast(144.6%);
}

.gray {
  filter: brightness(0) invert(60.4%);
}

.yellow {
  filter: brightness(0) saturate(100%) invert(44.2%) sepia(51.2%) saturate(553.0%) hue-rotate(14.5deg) brightness(166.7%) contrast(99.0%);
}

.red  {
  filter: brightness(0) saturate(100%) invert(29.4%) sepia(21.7%) saturate(1353.8%) hue-rotate(311.1deg) brightness(149.8%) contrast(118.3%);
}




.homework-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--bg-card);
  height: auto;
  max-height: 92vh;
  overflow-y: scroll;
  padding: 20px;
  border-radius: 10px;

}

.homework-header {
  font-size: 30px;
  margin: 0;
}

.homework-item-row-1 {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.homework-item-row-1 .right-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  gap: 10px;
  color: var(--text-muted);
}
.subject-name {
  margin-left: 60px;
  float: left;
  color: var(--text-muted);
  margin-top: -30px;
}


hr{
  width: 100%;
  border: none;
  border-top: 1px solid grey;
}

.homework-item {
  display: flex;
}



.new-homework {
  padding: 10px;
}

.delete-homework {
  padding: 10px;
  width: auto;
}

.delete-homework img {
  float: left;
  width: 20px;
  filter: brightness(0) invert(1);
}

.homework-item input[type="checkbox"] {
  display: flex;
  background-color: black;
  align-items: center;
  margin-top: 10px;
  width: 30px;
  height: 20px;
}


.homework-name {
  margin-left: 7px;
  margin-bottom: 0px
}


.completed {
  text-decoration: line-through;
  color: var(--text-muted)
}
