<div class="container">
  <div class="homework-container">
    <h1 class="homework-header">Heute,  {{ getDayNameFromId(today.getDay()) }}</h1>
    <div style="position: absolute;right: 30px;top:20px"><button (click)="onAddHomework()" class="new-homework">Aufgabe</button></div>
    @if (homeworkData().length > 1) {
      @for (h of homeworkData(); track $index) {
        <div class="homework-item">
          <input type="checkbox" [(ngModel)]="h.completed" (change)="updateCompletedStatus(h)" [checked]="false">
          <div class="homework-item-row-1">
            <span class="homework-name" [class.completed]="h.completed" >{{ h.name }}</span>
            <div class="right-items">
              <span>
                @if (h.due_date == this.today.getTime()) {
                  heute um {{ h.due_date | date: 'HH:mm'}} Uhr
                }@else {
                  {{ h.due_date | date:'dd.MM.yyyy'}}
                }
              </span>
              <button class="delete-homework" title="Hausaufgabe archivieren" (click)="onDeleteHomework(h)"><img src="delete.svg"></button>
            </div>
          </div>
        </div>
          @if (h.subject) {
            <span class="subject-name">{{ h.subject.name }}</span>
          }
          <hr>
      }
    }@else {
      <span>Keine Hausaufgaben!</span>
    }
  </div>
</div>

