.container {
  position: absolute;
  top: 60px;
  left: 210px;
  right: 10px;
  width: auto;
}


.homework-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--bg-card);
  height: auto;
  max-height: 92vh;
  overflow-y: scroll;
  padding: 20px;
  border-radius: 10px;

}

.homework-header {
  font-size: 30px;
  margin: 0;
}

.homework-item-row-1 {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.homework-item-row-1 .right-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  gap: 10px;
  color: var(--text-muted);
}
.subject-name {
  margin-left: 46px;
  float: left;
  color: var(--text-muted);
  margin-top: -20px;
}


hr{
  width: 100%;
  border: none;
  border-top: 1px solid grey;
}

.homework-item {
  display: flex;
}



.new-homework {
  padding: 10px;
}

.delete-homework {
  padding: 10px;
  width: auto;
}

.delete-homework img {
  float: left;
  width: 20px;
  filter: brightness(0) invert(1);
}

.homework-item input[type="checkbox"] {
  display: flex;
  background-color: black;
  align-items: center;
  margin-top: 10px;
  width: 30px;
  height: 20px;
}


.homework-name {
  margin-left: 10px;
  margin-bottom: 0px
}


.completed {
  text-decoration: line-through;
  color: var(--text-muted)
}
