<div class="container">
  <div class="homework-container">
    <div class="homework-top">
      <h1 class="homework-header">Heute,  {{ getDayNameFromId(today.getDay()) }}</h1>
      <button (click)="onAddHomework()" class="new-homework">Neue Hausaufgabe</button>
    </div>
    @if (homeworkData().length > 0) {
      @for (h of homeworkData(); track $index) {
        <div class="homework-item">
          <input type="checkbox" [(ngModel)]="h.completed" (change)="updateCompletedStatus(h)" [checked]="false">
          <img class="item-icon" [class]="h.subjectData.color" src="dot.svg">
          <div class="homework-item-row-1">
            <span class="homework-name" [class.completed]="h.completed" >{{ h.name }}</span>
            <div class="right-items">
              @if (h.isToday) {
                <span>heute um {{ h.due_date | date:'HH:MM' }} Uhr</span>
              }@else {
                <span>{{ h.due_date | date:'dd.MM.yyyy HH:MM' }}</span>
              }
              <button class="delete-homework" title="Hausaufgabe archivieren" (click)="onDeleteHomework(h)"><img src="delete.svg"></button>
            </div>
          </div>
        </div>
          @if (h.subjectData) {
            <span class="subject-name">{{ h.subjectData.name }}</span>
          }
          <hr>
      }
    }@else {
      <span>Keine Hausaufgaben!</span>
    }
  </div>
</div>

